<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="flex">
  <div class="left-margin">
    <img src="/assets/logo.png">
    <h1>Ottawa Valley Grill Doctor</h1>
    <p>The doctor is in.</p>
    <img src="assets/lad.jpg" style="width: 55%; border: solid 1px;">
    <h2 style="margin-top: 5%;">Follow our socials</h2>
    <div style="text-align: center;">
      <a href="https://www.facebook.com/people/Ottawa-Valley-Grill-Doctor/61561160636869/?_rdr"
        class="fa fa-facebook fa-5x" style="margin-right: 1%;"></a>
      <a href="https://www.instagram.com/ottawavalley_grilldoctor/" class="fa fa-instagram fa-5x"
        style="margin-left: 1%;"></a>

    </div>
  </div>
  <div class="right-margin">
    <div class="inner-body">
      <h2>Contact us to schedule an appointment.</h2>
    </div>
  </div>
</div>

<router-outlet />