<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Indie Flower' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<div class="flex">
  <div class="left-margin">
    <img class="logoPhoto" src="/assets/logo.png">
    <h1>Ottawa Valley Grill Doctor</h1>
    <p>The doctor is in.</p>
    <img src="assets/lad.jpg" class="kylePhoto" style="width: 55%; border: solid 1px;">
    <h2 style="margin-top: 5%;">Follow our socials</h2>
    <div style="text-align: center;">
      <a href="https://www.facebook.com/people/Ottawa-Valley-Grill-Doctor/61561160636869/?_rdr"
        class="fa fa-facebook fa-5x" style="margin-right: 1%;"></a>
      <a href="https://www.instagram.com/ottawavalley_grilldoctor/" class="fa fa-instagram fa-5x"
        style="margin-left: 1%;"></a>

    </div>
  </div>
  <div class="right-margin">

    <div style="display: flex;
  justify-content: flex-start; margin-top: 1%; margin-left: 8%; margin-right: 8%; text-align: left;">
      <div class="leftPhoto">
        <div style="display: flex; flex-wrap: wrap; justify-content: center; height: 100%;">
          <img src="assets/before1.1.jpg" style="height: 75%;
          display:table-cell;vertical-align:middle;">
          <p style="font-family: 'Indie Flower', sans-serif; font-size: 20pt; margin-top: 5px;">Before</p>
        </div>
      </div>

      <div class="rightPhoto" style="margin-right: 4%;">
        <div style="display: flex; flex-wrap: wrap; justify-content: center; height: 100%;">
          <img src="assets/after1.1.jpg" style="height: 75%;
          display:table-cell;vertical-align:middle;">
          <p style="font-family: 'Indie Flower', sans-serif; font-size: 20pt; margin-top: 5px;">After</p>
        </div>
      </div>

      <div class="leftPhoto">
        <div style="display: flex; flex-wrap: wrap; justify-content: center; height: 100%;">
          <img src="assets/before2.jpeg" style="height: 75%;
              display:table-cell;vertical-align:middle;">
          <p style="font-family: 'Indie Flower', sans-serif; font-size: 20pt; margin-top: 5px;">Before</p>
        </div>
      </div>

      <div class="rightPhoto">
        <div style="display: flex; flex-wrap: wrap; justify-content: center; height: 100%;">
          <img src="assets/after2.jpeg" style="height: 75%;
              display:table-cell;vertical-align:middle;">
          <p style="font-family: 'Indie Flower', sans-serif; font-size: 20pt; margin-top: 5px;">After</p>
        </div>
      </div>

      <div class="leftPhoto" style="margin-left: 4%;">
        <div style="display: flex; flex-wrap: wrap; justify-content: center; height: 100%;">
          <img src="assets/before3.1.jpg" style="height: 75%;
                          display:table-cell;vertical-align:middle;">
          <p style="font-family: 'Indie Flower', sans-serif; font-size: 20pt; margin-top: 5px;">Before</p>
        </div>
      </div>

      <div class="rightPhoto">
        <div style="display: flex; flex-wrap: wrap; justify-content: center; height: 100%;">
          <img src="assets/after3.1.jpg" style="height: 75%;
                          display:table-cell;vertical-align:middle;">
          <p style="font-family: 'Indie Flower', sans-serif; font-size: 20pt; margin-top: 5px;">After</p>
        </div>
      </div>
    </div>
    <div class="inner-body">
      <h2>Contact us to schedule an appointment.</h2>
      <div style="display: flex; justify-content: space-around;">
        <div class="divButton" tabindex="0">
          <i class="material-symbols-outlined" style="font-size: 30pt;">
            mail
          </i>
          <p class="buttonText">Email us</p>
          <a href="mailto:email@address.com" tabindex="-1">email&#64;address.com</a>
        </div>
        <div class="divButton" tabindex="0">
          <i class="material-symbols-outlined" style="font-size: 30pt;">
            call
          </i>
          <p class="buttonText">Call us</p>
          <a href="tel:+16136871111" tabindex="-1">613-687-1111</a>
        </div>
      </div>
      <h2>Reviews</h2>
    </div>
  </div>
</div>

<router-outlet />